@expanded-sidebar-width: 250px;

aside.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	background-color: black;
	color: white;

	width: 0;

	z-index: 1;

	overflow-y: scroll;
	overflow-x: hidden;

	section {
		width: @expanded-sidebar-width;

		header {
			border-left: 0.5em solid #F79A42;
			padding: 0.5em;
		}

		&:not(:last-of-type) {
			border-bottom: 1px solid #999;
		}

		&:not(:first-of-type) {
			border-top: 1px solid white;
		}
	}

	.the-void {
		flex: 1 1 auto;
	}

	transition: width 0.25s ease-in-out;

	a {
		color: white;
		padding: 1em;
		display: block;
	}
}

aside.sidebar.expanded {
	width: @expanded-sidebar-width;
	box-shadow: 0px 0px 8px black;
}

button#toggle-sidebar {
	border: 2px solid transparent;
	margin: 10px;
	padding: 0;

	border-radius: 50%;

	box-shadow: 0px 1px 3px fadeout(black, 50%);

	width: 32px;
	height: 32px;

	&:focus {
		outline: none;
		border-color: #55F;
	}
}
